.back-img{
  background-image: url('./assets/images/inner.avif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 720px;
  margin-top: -60px;
}

.home-img{
  height : 400px;
  width: 700px;
  background-image: url('./assets/images/outter.avif');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px;
  margin-left: 80px;
  position: absolute;
  z-index: 2;
  /* top: 0; */
  
}
.text-div{
  height: 500px;
  width: 650px;
  /* border: 2px solid black; */
  position: relative;
  z-index: 1;
  left: 700px;
  margin-top: 40px;
  background-color: whitesmoke;
  
}

.button___style:hover{
  background-color: white;
  color: black;
}